@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}

@font-face {
  font-family: "Raleway";
  src: url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}

@-webkit-keyframes show-up {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes show-up {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes grow {
  0%,
  100% {
    width: 0;
  }
  50% {
    width: 3.125rem;
  }
}

@keyframes grow {
  0%,
  100% {
    width: 0;
  }
  50% {
    width: 3.125rem;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding-top: 1.75rem 0 0 0;
  line-height: 1.3;
  overflow-x: hidden;
  background-color: #ffffff;
  font-family: "Montserrat";
  font-size: 1rem;
  width: 100%;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

.container {
  padding: 1.5rem 4rem;
}

.card {
  border: none;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none !important;
  }
}

@media (min-width: 75em) {
  .hide-for-desktop {
    display: none;
  }
}

nav {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 0.75rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  font-family: "Montserrat";
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav .nav__items__desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav__items__desktop .nav__links {
  margin: 1rem 1.5rem;
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "playfair display";
  font-size: 1.125rem;
  position: relative;
}

nav .nav__items__desktop .nav__links:hover::before {
  opacity: 1;
  bottom: -30%;
}

nav .nav__items__desktop .nav__links::before {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #8ea294;
  opacity: 0;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

nav .hamburger {
  width: 3rem;
  height: 18px;
  position: relative;
}

nav .hamburger div {
  position: absolute;
  top: 0;
  right: 0;
  height: 1px;
  background-color: #000000;
  -webkit-transition: top 0.2s ease-in-out 0.4s, opacity 0.2s ease-in-out 0.2s, left 0.2s ease-in-out, width 0.2s ease-in-out -0.2s, -webkit-transform 0.4s ease-in-out;
  transition: top 0.2s ease-in-out 0.4s, opacity 0.2s ease-in-out 0.2s, left 0.2s ease-in-out, width 0.2s ease-in-out -0.2s, -webkit-transform 0.4s ease-in-out;
  transition: top 0.2s ease-in-out 0.4s, transform 0.4s ease-in-out, opacity 0.2s ease-in-out 0.2s, left 0.2s ease-in-out, width 0.2s ease-in-out -0.2s;
  transition: top 0.2s ease-in-out 0.4s, transform 0.4s ease-in-out, opacity 0.2s ease-in-out 0.2s, left 0.2s ease-in-out, width 0.2s ease-in-out -0.2s, -webkit-transform 0.4s ease-in-out;
}

nav .hamburger div:nth-child(1) {
  top: 0;
  width: 26px;
}

nav .hamburger div:nth-child(2) {
  top: 50%;
  width: 26px;
}

nav .hamburger div:nth-child(3) {
  top: 100%;
  width: 26px;
}

nav .hamburger.cross div {
  -webkit-transition: all 0.2s ease-in-out, opacity 0.2s ease-in-out 0.2s, width 0.6s ease-in-out -0.2s, -webkit-transform 0.4s ease-in-out 0.2s;
  transition: all 0.2s ease-in-out, opacity 0.2s ease-in-out 0.2s, width 0.6s ease-in-out -0.2s, -webkit-transform 0.4s ease-in-out 0.2s;
  transition: all 0.2s ease-in-out, transform 0.4s ease-in-out 0.2s, opacity 0.2s ease-in-out 0.2s, width 0.6s ease-in-out -0.2s;
  transition: all 0.2s ease-in-out, transform 0.4s ease-in-out 0.2s, opacity 0.2s ease-in-out 0.2s, width 0.6s ease-in-out -0.2s, -webkit-transform 0.4s ease-in-out 0.2s;
}

nav .hamburger.cross div:nth-child(1) {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .hamburger.cross div:nth-child(2) {
  top: 50%;
  opacity: 0;
}

nav .hamburger.cross div:nth-child(3) {
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

nav .nav__items {
  height: 100vh;
  width: 100vw;
  padding: 1rem 2rem;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: -1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (min-width: 40em) {
  nav .nav__items {
    padding: 1rem 4rem;
  }
}

nav .nav__items.opened {
  right: 0%;
}

nav .nav__items__titles {
  margin: 6rem 0 0 0;
}

nav .nav__items__titles h3 {
  margin-bottom: 1.5rem;
}

nav .nav__items__titles h3 .nav__links {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "playfair display";
  font-size: 1.5rem;
}

nav .nav__items .socials {
  margin-top: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
}

nav .nav__items .socials a {
  color: #000000;
  font-family: "Montserrat";
  font-weight: 400;
  color: #8ea294;
}

nav .nav__items .about {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

nav .nav__items .about__quote {
  padding: 1rem 2rem;
}

nav .nav__items .about__quote hr {
  background-color: #8ea294;
  border: none;
  width: 20vw;
  height: 1px;
  margin: 1rem auto;
}

nav .nav__items .about__quote p {
  text-align: center;
  font-size: 0.85rem;
  letter-spacing: 0.1em;
  color: #000000;
  margin: 0;
  font-family: "Montserrat";
  font-style: italic;
}

nav .nav__items .desc {
  padding: 1rem 2rem;
  background-color: #8ea294;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav__items .desc svg {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 1.5rem;
}

nav .nav__items .desc svg .path {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1.5px;
  stroke-miterlimit: 10;
}

nav .nav__items .desc p {
  font-size: 0.9375rem;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  font-family: "Montserrat";
}

nav .logo__quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo__quote img {
  max-width: 3rem;
  margin-right: 2rem;
}

nav .logo__quote a {
  color: #000000;
  font-weight: 500;
}

nav button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  font-weight: 500;
  border-radius: 2px;
  padding: 0.5rem 1rem;
}

nav button i {
  font-weight: 100;
}

@keyframes show-up {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes grow {
  0%,
  100% {
    width: 0;
  }
  50% {
    width: 3.125rem;
  }
}

@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}

@font-face {
  font-family: "Raleway";
  src: url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}

.cursor {
  height: 2em;
  width: 2em;
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition-property: background, width, height, -webkit-transition;
  transition-property: background, width, height, -webkit-transition;
  transition-property: background, width, height, transition;
  transition-property: background, width, height, transition, -webkit-transition;
}

.image__one {
  height: 6em;
  width: 6em;
  background: #8ea294;
}

.landing {
  padding-top: 4rem;
}

.landing__grid {
  height: 100%;
  display: -ms-grid;
  display: grid;
  background-color: #000000;
}

@media (min-width: 75em) {
  .landing__grid {
    -ms-grid-columns: (50vw)[2];
        grid-template-columns: repeat(2, 50vw);
    -ms-grid-rows: 100vh;
        grid-template-rows: 100vh;
  }
}

.landing__grid__content {
  padding: 14vw 10vw;
}

@media (min-width: 40em) {
  .landing__grid__content {
    height: 100%;
    padding: 10vw 6vw;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 75em) {
  .landing__grid__content {
    height: 100%;
    padding: 10vw;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.landing__grid__content h1 {
  font-size: calc(2.5rem + 1vw);
  font-family: "playfair display";
  letter-spacing: 2px;
  font-weight: 400;
  color: #ffffff;
}

@media (min-width: 40em) {
  .landing__grid__content h1 {
    font-size: 3rem;
  }
}

@media (min-width: 75em) {
  .landing__grid__content h1 {
    font-size: 4.375rem;
  }
}

.landing__grid__content p {
  margin: 1.75rem 0;
  font-size: 1.125rem;
  font-style: italic;
  font-family: "Montserrat";
  color: #ffffff;
  letter-spacing: 1px;
}

@media (min-width: 40em) {
  .landing__grid__content p {
    font-size: 1rem;
  }
}

.landing__grid__content button {
  margin: 0.75rem 0 0 0;
  padding: 0.75rem 1rem;
  border: 0.5px solid rgba(255, 255, 255, 0.45);
  border-radius: 2px;
  background-color: transparent;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
  font-size: 1rem;
}

.landing__grid__image {
  height: 50vh;
  background-image: url("../Assets/landing__image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 75em) {
  .landing__grid__image {
    height: 100%;
  }
}

.second {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second__info {
  padding: 4rem 2rem;
}

@media (min-width: 40em) {
  .second__info {
    padding: 5rem;
  }
}

@media (min-width: 75em) {
  .second__info {
    padding: 8rem 20vw;
  }
}

.second__info h1,
.second__info h5,
.second__info p {
  text-align: center;
}

.second__info h1 {
  font-family: "playfair display";
}

.second__info h5 {
  margin: 2rem 0;
  font-size: 1rem;
  font-style: italic;
  font-family: "playfair display";
}

@media (min-width: 75em) {
  .second__info h5 {
    margin: 3rem 0;
  }
}

.second__info p {
  font-family: "Montserrat";
  line-height: 1.425;
}

@media (min-width: 75em) {
  .second__info p {
    line-height: 2;
  }
}

.third {
  padding: 2rem 0 4rem;
  background-color: #000000;
}

@media (min-width: 40em) {
  .third {
    padding: 2rem 0 5rem;
  }
}

@media (min-width: 75em) {
  .third {
    padding: 6rem 4rem;
  }
}

.third__info {
  padding: 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 40em) {
  .third__info {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 3rem 4rem 4rem;
  }
}

.third__info h1,
.third__info h5 {
  text-align: center;
  color: #ffffff;
  font-family: "playfair display";
}

.third__info h5 {
  margin: 2rem 0;
  font-size: 1rem;
  font-style: italic;
  line-height: 1.6;
  font-family: "Montserrat";
}

.third__grid {
  padding: 1rem 2rem;
  display: -ms-grid;
  display: grid;
  row-gap: 2rem;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

@media (min-width: 40em) {
  .third__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 1rem 2rem;
  }
}

@media (min-width: 75em) {
  .third__grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.third__grid .image__card {
  position: relative;
}

.third__grid .image__card img {
  max-width: 100%;
}

@media (min-width: 75em) {
  .third__grid .image__card {
    min-height: 26rem;
  }
}

.third__grid .image__card .legend {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1.5rem 2.5rem 1.5rem 0;
}

.third__grid .image__card .legend h3 {
  color: #ffffff;
  font-size: 0.9375rem;
}

.third__grid .image__card .legend a {
  margin-top: 0.5rem;
  font-size: 0.9375rem;
  color: #8ea294;
}

.fourth {
  margin: 6rem 0 10rem;
}

.fourth h1 {
  margin-bottom: 4rem;
  text-align: center;
  color: #000000;
  font-family: "playfair display";
}

@media (min-width: 75em) {
  .fourth {
    padding: 4rem 4rem;
  }
}

@media (min-width: 75em) {
  .fourth {
    padding: 4rem 4rem 0;
  }
}

.fourth .grid {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.fourth .grid .previous {
  margin: 0 0 0 4vw;
  left: -8%;
  border: none;
}

@media (max-width: 39.9375em) {
  .fourth .grid .previous {
    display: none;
  }
}

.fourth .grid .next {
  margin: 0 0 0 4vw;
  right: -2.5%;
  border: none;
}

@media (max-width: 39.9375em) {
  .fourth .grid .next {
    display: none;
  }
}

.fourth .grid .next svg {
  fill: #ffffff;
}

.fourth .grid .flickity-page-dots {
  bottom: -50px;
}

.fourth .grid .flickity-page-dots .dot.is-selected {
  background: #8ea294;
}

.fourth .grid .card {
  position: relative;
  width: 75vw;
  margin-right: 4vw;
}

.fourth .grid .card img {
  max-width: 100%;
}

@media (min-width: 40em) {
  .fourth .grid .card img {
    max-height: 20rem;
  }
}

@media (min-width: 75em) {
  .fourth .grid .card img {
    max-height: 24rem;
  }
}

.fourth button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 6rem auto;
  background-color: transparent;
  border: 1px solid #000000;
  padding: 1.25rem 1.5rem;
  font-family: "playfair display";
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}

.fourth hr {
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  width: 80vw;
  height: 0.5px;
}

.fifth__info {
  padding: 0 4rem 4rem;
}

@media (min-width: 75em) {
  .fifth__info {
    padding: 0 20rem 4rem;
  }
}

.fifth__info h3 {
  font-family: "playfair display";
  text-align: center;
  color: #000000;
}

@media (min-width: 75em) {
  .fifth__info h3 {
    line-height: 1.55;
  }
}

.fifth__info p {
  font-family: "Montserrat";
  margin-top: 2rem;
  text-align: center;
  font-weight: 500;
  font-style: italic;
  font-size: calc(1rem + 0.2vw);
  color: rgba(0, 0, 0, 0.45);
}

@media (min-width: 75em) {
  .fifth__info p {
    font-size: 1.125rem;
  }
}

.sixth {
  margin-bottom: 4rem;
}

.sixth__info {
  padding: 0 1rem;
}

@media (min-width: 40em) {
  .sixth__info {
    padding: 0 2rem;
  }
}

@media (min-width: 75em) {
  .sixth__info {
    padding: 0 8rem;
  }
}

.sixth__info h1 {
  margin-bottom: 4rem;
  font-weight: 500;
  text-align: center;
  color: #000000;
  font-family: "playfair display";
}

.sixth__image {
  background-image: url("../Assets/candles__image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 34rem;
  position: relative;
}

.sixth__image .legend {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1rem 2rem;
  color: #ffffff;
  font-family: "playfair display";
  text-align: center;
}

@media (min-width: 40em) {
  .sixth__image .legend {
    padding: 1rem 2rem 2.5rem;
  }
}

.sixth__image .legend a {
  color: #8ea294;
  font-family: "Montserrat";
}

.sixth__image .legend p {
  margin-top: 1rem;
  font-family: "Montserrat";
}

.seventh {
  margin: 4rem 0;
}

@media (min-width: 40em) {
  .seventh {
    margin: 5rem 0;
  }
}

@media (min-width: 75em) {
  .seventh {
    margin: 8rem 6rem;
  }
}

.seventh h1 {
  margin-bottom: 4rem;
  text-align: center;
  color: #000000;
  font-family: "playfair display";
}

.seventh__grid {
  display: -ms-grid;
  display: grid;
  row-gap: 2rem;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  text-align: center;
}

@media (min-width: 40em) {
  .seventh__grid {
    padding: 0 2rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.seventh__grid__card {
  background-image: url("../Assets/candles__image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 20rem;
  position: relative;
}

.seventh__grid__card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.seventh__grid__card .info {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  padding: 1rem 4rem;
}

@media (min-width: 75em) {
  .seventh__grid__card .info {
    padding: 1rem 10rem;
  }
}

.seventh__grid__card .info h2 {
  font-family: "playfair display";
  font-size: 1.2rem;
  line-height: 1.5;
}

.seventh__grid__card .info a {
  margin-top: 2rem;
  color: #8ea294;
  font-family: "Montserrat";
  letter-spacing: 0.75px;
}

.seventh__grid__card .info a i {
  font-size: 1.1rem;
  margin-right: 0.75rem;
}

.eight {
  background-color: #000000;
  color: #ffffff;
}

.eight .grid {
  display: -ms-grid;
  display: grid;
  padding: 2.5rem 4rem 4rem;
}

@media (min-width: 40em) {
  .eight .grid {
    padding: 3.5rem 4rem 5rem;
  }
}

@media (min-width: 75em) {
  .eight .grid {
    padding: 4.5rem 10vw 6rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.eight .grid form {
  width: 100%;
}

@media (min-width: 75em) {
  .eight .grid form {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.eight .grid form input,
.eight .grid form textarea {
  margin-top: 1.5rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  border-radius: 0;
  font-family: "Montserrat";
}

@media (min-width: 40em) {
  .eight .grid form input,
  .eight .grid form textarea {
    margin-top: 2.5rem;
  }
}

.eight .grid form input::-webkit-input-placeholder,
.eight .grid form textarea::-webkit-input-placeholder {
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
}

.eight .grid form input:-ms-input-placeholder,
.eight .grid form textarea:-ms-input-placeholder {
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
}

.eight .grid form input::-ms-input-placeholder,
.eight .grid form textarea::-ms-input-placeholder {
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
}

.eight .grid form input::placeholder,
.eight .grid form textarea::placeholder {
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
}

.eight .grid form textarea {
  width: 100%;
}

.eight .grid form .submit__btn {
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  padding: 1rem 0;
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Montserrat";
}

.eight .grid hr {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  width: 60vw;
  height: 1px;
  margin: 4rem auto;
}

.eight .grid .info {
  text-align: center;
}

@media (min-width: 75em) {
  .eight .grid .info {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

.eight .grid .info h1 {
  font-family: "playfair display";
}

@media (min-width: 75em) {
  .eight .grid .info h1 {
    justify-items: center;
  }
}

.eight .grid .info h5 {
  margin: 2rem 0;
  font-family: "playfair display";
}

.eight .grid .info a {
  font-family: "Montserrat";
  color: #ffffff;
}

.eight .grid .info .socials {
  margin: 2rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.eight .grid .info .socials .fa-twitter {
  margin: 0 1rem;
}

footer {
  text-align: center;
  padding: 1.5rem 2rem;
  font-family: "Montserrat";
  font-weight: 500;
}

footer p {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1rem;
  color: #000000;
  margin: 0;
  line-height: 1.5;
}

@media (min-width: 40em) {
  footer p {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: end;
    white-space: nowrap;
  }
}

@media (min-width: 75em) {
  footer p {
    justify-items: center;
  }
}

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */