@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}

@font-face {
  font-family: "playfair display";
  src: url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}

@-webkit-keyframes show-up {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes show-up {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes grow {
  0%,
  100% {
    width: 0;
  }
  50% {
    width: 3.125rem;
  }
}

@keyframes grow {
  0%,
  100% {
    width: 0;
  }
  50% {
    width: 3.125rem;
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes bubble-movement {
  0%,
  100% {
    left: -5%;
    bottom: 10%;
  }
  50% {
    left: 15%;
    bottom: 10%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes bubble-movement {
  0%,
  100% {
    left: -5%;
    bottom: 10%;
  }
  50% {
    left: 15%;
    bottom: 10%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes bubble-movement2 {
  0%,
  100% {
    right: -15%;
    bottom: 30%;
  }
  50% {
    right: 20%;
    bottom: 20%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes bubble-movement2 {
  0%,
  100% {
    right: -15%;
    bottom: 30%;
  }
  50% {
    right: 20%;
    bottom: 20%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes bubble-movement2-tablet {
  0%,
  100% {
    right: -5%;
    bottom: 5%;
  }
  50% {
    right: 15%;
    bottom: 10%;
  }
}

@keyframes bubble-movement2-tablet {
  0%,
  100% {
    right: -5%;
    bottom: 5%;
  }
  50% {
    right: 15%;
    bottom: 10%;
  }
}

@-webkit-keyframes bubble-movement3 {
  0%,
  100% {
    right: 25%;
    top: 30%;
  }
  50% {
    right: 40%;
    top: 10%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes bubble-movement3 {
  0%,
  100% {
    right: 25%;
    top: 30%;
  }
  50% {
    right: 40%;
    top: 10%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding-top: 1.75rem 0 0 0;
  line-height: 1.3;
  overflow-x: hidden;
  background-color: #ffffff;
  font-family: "Montserrat";
  font-size: 1rem;
  width: 100%;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

.container {
  padding: 1.5rem 4rem;
}

.card {
  border: none;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none !important;
  }
}

@media (min-width: 75em) {
  .hide-for-desktop {
    display: none;
  }
}

nav {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 0.75rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  font-family: "Montserrat";
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-shadow: 0px 4px 4px rgba(136, 136, 136, 0.05);
          box-shadow: 0px 4px 4px rgba(136, 136, 136, 0.05);
}

nav .nav__items__desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav__items__desktop .nav__links {
  margin: 1rem 1.5rem;
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "playfair display";
  font-size: 1.125rem;
  position: relative;
}

nav .nav__items__desktop .nav__links:hover::before {
  opacity: 1;
}

nav .nav__items__desktop .nav__links::before {
  content: "";
  position: absolute;
  bottom: -30%;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #8ea294;
  opacity: 0;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

nav .hamburger {
  width: 3rem;
  height: 18px;
  position: relative;
}

nav .hamburger div {
  position: absolute;
  top: 0;
  right: 0;
  height: 1px;
  background-color: #000000;
  -webkit-transition: top 0.2s ease-in-out 0.4s, opacity 0.2s ease-in-out 0.2s, left 0.2s ease-in-out, width 0.2s ease-in-out -0.2s, -webkit-transform 0.4s ease-in-out;
  transition: top 0.2s ease-in-out 0.4s, opacity 0.2s ease-in-out 0.2s, left 0.2s ease-in-out, width 0.2s ease-in-out -0.2s, -webkit-transform 0.4s ease-in-out;
  transition: top 0.2s ease-in-out 0.4s, transform 0.4s ease-in-out, opacity 0.2s ease-in-out 0.2s, left 0.2s ease-in-out, width 0.2s ease-in-out -0.2s;
  transition: top 0.2s ease-in-out 0.4s, transform 0.4s ease-in-out, opacity 0.2s ease-in-out 0.2s, left 0.2s ease-in-out, width 0.2s ease-in-out -0.2s, -webkit-transform 0.4s ease-in-out;
}

nav .hamburger div:nth-child(1) {
  top: 0;
  width: 26px;
}

nav .hamburger div:nth-child(2) {
  top: 50%;
  width: 26px;
}

nav .hamburger div:nth-child(3) {
  top: 100%;
  width: 26px;
}

nav .hamburger.cross div {
  -webkit-transition: all 0.2s ease-in-out, opacity 0.2s ease-in-out 0.2s, width 0.6s ease-in-out -0.2s, -webkit-transform 0.4s ease-in-out 0.2s;
  transition: all 0.2s ease-in-out, opacity 0.2s ease-in-out 0.2s, width 0.6s ease-in-out -0.2s, -webkit-transform 0.4s ease-in-out 0.2s;
  transition: all 0.2s ease-in-out, transform 0.4s ease-in-out 0.2s, opacity 0.2s ease-in-out 0.2s, width 0.6s ease-in-out -0.2s;
  transition: all 0.2s ease-in-out, transform 0.4s ease-in-out 0.2s, opacity 0.2s ease-in-out 0.2s, width 0.6s ease-in-out -0.2s, -webkit-transform 0.4s ease-in-out 0.2s;
}

nav .hamburger.cross div:nth-child(1) {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .hamburger.cross div:nth-child(2) {
  top: 50%;
  opacity: 0;
}

nav .hamburger.cross div:nth-child(3) {
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

nav .nav__items {
  height: 100vh;
  width: 100vw;
  padding: 1rem 2rem;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: -1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (min-width: 40em) {
  nav .nav__items {
    padding: 1rem 4rem;
  }
}

nav .nav__items.opened {
  right: 0%;
}

nav .nav__items__titles {
  margin: 6rem 0 0 0;
}

nav .nav__items__titles h3 {
  margin-bottom: 1.5rem;
}

nav .nav__items__titles h3 .nav__links {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "playfair display";
  font-size: 1.5rem;
}

nav .nav__items .socials {
  margin-top: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
}

nav .nav__items .socials a {
  color: #000000;
  font-family: "Montserrat";
  font-weight: 400;
  color: #8ea294;
}

nav .nav__items .desc {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #8ea294;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav__items .desc svg {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 1.5rem;
}

nav .nav__items .desc svg .path {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1.5px;
  stroke-miterlimit: 10;
}

nav .nav__items .desc p {
  font-size: 0.9375rem;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  font-family: "Montserrat";
}

nav .logo__quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo__quote img {
  max-width: 3rem;
  margin-right: 2rem;
}

nav .logo__quote a {
  color: #000000;
  font-weight: 500;
}

nav button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  font-weight: 500;
  border-radius: 2px;
  padding: 0.5rem 1rem;
}

nav button i {
  font-weight: 100;
}

@keyframes show-up {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes grow {
  0%,
  100% {
    width: 0;
  }
  50% {
    width: 3.125rem;
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes bubble-movement {
  0%,
  100% {
    left: -5%;
    bottom: 10%;
  }
  50% {
    left: 15%;
    bottom: 10%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes bubble-movement2 {
  0%,
  100% {
    right: -15%;
    bottom: 30%;
  }
  50% {
    right: 20%;
    bottom: 20%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes bubble-movement2-tablet {
  0%,
  100% {
    right: -5%;
    bottom: 5%;
  }
  50% {
    right: 15%;
    bottom: 10%;
  }
}

@keyframes bubble-movement3 {
  0%,
  100% {
    right: 25%;
    top: 30%;
  }
  50% {
    right: 40%;
    top: 10%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.landing {
  height: 100vh;
  padding-top: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 40em) {
  .landing {
    padding-top: 0;
  }
}

@media (min-width: 75em) {
  .landing {
    padding-top: 6rem;
  }
}

@media (min-width: 120em) {
  .landing {
    padding-top: 2rem;
  }
}

.landing__info {
  padding: 0 10vw 16vw;
  text-align: center;
  font-size: 3.3rem;
  font-family: "playfair display";
  letter-spacing: 2px;
  font-weight: 400;
  line-height: 1.3;
  color: #333;
}

@media (min-width: 40em) {
  .landing__info {
    font-size: 6rem;
    line-height: 1.3;
    padding: 10vw 10vw 6vw;
  }
}

@media (min-width: 64em) {
  .landing__info {
    font-size: 10.375rem;
    line-height: 1.3;
  }
}

@media (min-width: 75em) {
  .landing__info {
    padding: 0;
    font-size: 4rem;
  }
}

@media (min-width: 120em) {
  .landing__info {
    padding: 0 10vw 1rem;
    font-size: 6rem;
  }
}

.landing hr {
  background-color: #000000;
  width: 10rem;
  border: none;
  height: 1px;
  margin: 0 auto 16vw;
}

@media (min-width: 40em) {
  .landing hr {
    margin: 0 auto 6vw;
  }
}

@media (min-width: 75em) {
  .landing hr {
    margin: 2rem auto 1rem;
  }
}

.landing p {
  padding: 2vw 10vw;
  font-size: 1.2rem;
  font-family: "playfair display";
  letter-spacing: 2px;
  font-weight: 500;
  line-height: 1.3;
}

@media (min-width: 40em) {
  .landing p {
    padding: 2vw 6vw;
  }
}

@media (min-width: 75em) {
  .landing p {
    margin: 0 auto 0;
    font-size: 1.5rem;
  }
}

.landing .center__button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 999;
}

.landing .center__button a {
  cursor: pointer;
  margin: 4vw 0;
  font-size: 1.2rem;
  font-family: "playfair display";
  letter-spacing: 2px;
  font-weight: 500;
  line-height: 1.3;
  border: 1px solid #000000;
  background-color: transparent;
  border-radius: 2px;
  padding: 0.75rem 2rem;
  color: #000000;
}

.landing .center__button a:hover {
  background-color: #000000;
  color: #ffffff;
}

@media (min-width: 40em) {
  .landing .center__button a {
    margin: 2vw 0;
  }
}

@media (min-width: 120em) {
  .landing .center__button a {
    margin: 0;
  }
}

.landing__circle, .landing__circle2, .landing__circle3, .landing__circle4 {
  position: absolute;
  border-radius: 50%;
}

.landing__circle {
  left: -5%;
  bottom: 10%;
  background-color: rgba(142, 162, 148, 0.1);
  width: 30vw;
  height: 30vw;
  -webkit-animation: bubble-movement 6s ease infinite;
          animation: bubble-movement 6s ease infinite;
}

@media (min-width: 75em) {
  .landing__circle {
    -webkit-animation: none;
            animation: none;
    width: 15vw;
    height: 15vw;
  }
}

.landing__circle2 {
  right: -15%;
  bottom: 30%;
  background-color: rgba(142, 162, 148, 0.1);
  width: 60vw;
  height: 60vw;
  -webkit-animation: bubble-movement2 6s ease infinite 3s;
          animation: bubble-movement2 6s ease infinite 3s;
}

@media (min-width: 40em) {
  .landing__circle2 {
    right: -5%;
    bottom: 5%;
    -webkit-animation: bubble-movement2-tablet 6s ease infinite 3s;
            animation: bubble-movement2-tablet 6s ease infinite 3s;
  }
}

@media (min-width: 75em) {
  .landing__circle2 {
    right: -15%;
    bottom: 30%;
    -webkit-animation: none;
            animation: none;
    width: 40vw;
    height: 40vw;
  }
}

.landing__circle3 {
  right: 25%;
  top: 30%;
  background-color: rgba(142, 162, 148, 0.05);
  width: 40vw;
  height: 40vw;
  -webkit-animation: bubble-movement3 6s ease infinite 1.5s;
          animation: bubble-movement3 6s ease infinite 1.5s;
}

@media (min-width: 75em) {
  .landing__circle3 {
    -webkit-animation: none;
            animation: none;
  }
}

@media (min-width: 75em) {
  .landing__circle3 {
    -webkit-animation: none;
            animation: none;
    width: 30vw;
    height: 30vw;
  }
}

.second {
  position: relative;
  z-index: 1;
  height: 100vh;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second__info {
  padding: 4rem 2rem;
}

@media (min-width: 40em) {
  .second__info {
    padding: 5rem;
  }
}

@media (min-width: 75em) {
  .second__info {
    padding: 8rem 30vw;
  }
}

.second__info h1,
.second__info h5,
.second__info p {
  text-align: center;
}

.second__info h1 {
  font-family: "playfair display";
}

@media (min-width: 120em) {
  .second__info h1 {
    font-size: 3.125rem;
  }
}

.second__info h5 {
  margin: 2rem 0;
  font-size: 1rem;
  font-style: italic;
  font-family: "playfair display";
}

@media (min-width: 120em) {
  .second__info h5 {
    font-size: 1.2rem;
  }
}

@media (min-width: 75em) {
  .second__info h5 {
    margin: 3rem 0;
    font-size: 1.2rem;
  }
}

.second__info p {
  font-family: "Montserrat";
  line-height: 1.7;
}

@media (min-width: 75em) {
  .second__info p {
    line-height: 2;
    font-size: 1.0625rem;
  }
}

@media (min-width: 120em) {
  .second__info p {
    font-size: 1.125rem;
  }
}

.second .circle {
  position: absolute;
  z-index: -100;
  top: 10%;
  left: 5%;
  width: 50vw;
  height: 50vw;
  background-color: rgba(243, 240, 239, 0.4);
  border-radius: 50%;
}

@media (min-width: 40em) {
  .second .circle {
    top: 10%;
    left: -5%;
  }
}

@media (min-width: 75em) {
  .second .circle {
    top: 10%;
    left: 5%;
    width: 30vw;
    height: 30vw;
  }
}

.second .circle2 {
  position: absolute;
  z-index: -100;
  bottom: -15%;
  right: -5%;
  width: 70vw;
  height: 70vw;
  background-color: rgba(243, 240, 239, 0.4);
  border-radius: 50%;
}

@media (min-width: 75em) {
  .second .circle2 {
    bottom: -15%;
    right: -5%;
    width: 25vw;
    height: 25vw;
  }
}

.third {
  position: relative;
  z-index: 2;
  padding: 2rem 0 4rem;
  background-color: #000000;
}

@media (min-width: 40em) {
  .third {
    padding: 2rem 0 5rem;
  }
}

@media (min-width: 75em) {
  .third {
    padding: 6rem 10rem;
  }
}

.third__info {
  padding: 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 40em) {
  .third__info {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 3rem 4rem 4rem;
  }
}

.third__info h1,
.third__info h5 {
  text-align: center;
  color: #ffffff;
  font-family: "playfair display";
}

.third__info h5 {
  margin: 2rem 0;
  font-size: 1rem;
  font-style: italic;
  line-height: 1.6;
  font-family: "Montserrat";
}

.third__grid {
  padding: 1rem 2rem;
  display: -ms-grid;
  display: grid;
  row-gap: 2rem;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

@media (min-width: 40em) {
  .third__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 1rem 2rem;
  }
}

@media (min-width: 75em) {
  .third__grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
}

@media (min-width: 120em) {
  .third__grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
    padding: 1rem 2rem 3rem;
  }
}

.third__grid .image__card {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.third__grid .image__card img {
  max-width: 100%;
}

@media (min-width: 75em) {
  .third__grid .image__card img {
    height: 18rem;
  }
}

@media (min-width: 75em) {
  .third__grid .image__card {
    min-height: auto;
  }
}

.third__grid .image__card .overlay {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #000000;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.third__grid .image__card .legend {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1.5rem 2.5rem 1.5rem 0;
}

.third__grid .image__card .legend h3 {
  color: #ffffff;
  font-size: 0.9375rem;
}

.third__grid .image__card .legend a {
  margin-top: 0.5rem;
  font-size: 0.9375rem;
  color: #8ea294;
}

.third__grid .image__card .legend__desktop {
  height: 26%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -15%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.third__grid .image__card .legend__desktop h3 {
  margin: 0;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 0.9375rem;
}

.third__grid .image__card .legend__desktop a {
  font-size: 0.9375rem;
  color: #8ea294;
}

.fourth {
  margin: 6rem 0 10rem;
}

.fourth h1 {
  margin-bottom: 4rem;
  text-align: center;
  color: #000000;
  font-family: "playfair display";
}

@media (min-width: 75em) {
  .fourth {
    padding: 4rem 4rem;
  }
}

.fourth .grid {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.fourth .grid .previous {
  margin: 0 0 0 4vw;
  left: -8%;
  border: none;
}

@media (max-width: 63.9375em) {
  .fourth .grid .previous {
    display: none;
  }
}

.fourth .grid .flickity-button {
  border: none;
}

.fourth .grid .flickity-button svg {
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.fourth .grid .flickity-button:hover svg {
  fill: #8ea294;
}

.fourth .grid .flickity-button:active svg {
  fill: #8ea294;
}

.fourth .grid .next {
  margin: 0 0 0 4vw;
  right: -3.5%;
}

@media (max-width: 63.9375em) {
  .fourth .grid .next {
    display: none;
  }
}

.fourth .grid .flickity-page-dots {
  bottom: -50px;
}

.fourth .grid .flickity-page-dots .dot.is-selected {
  background: #8ea294;
}

.fourth .grid .card {
  position: relative;
  width: 75vw;
  margin-right: 4vw;
}

@media (min-width: 40em) {
  .fourth .grid .card {
    width: 60vw;
  }
}

@media (min-width: 64em) {
  .fourth .grid .card {
    width: 30rem;
    margin-right: 2vw;
  }
}

.fourth .grid .card img {
  max-width: 100%;
}

@media (min-width: 40em) {
  .fourth .grid .card img {
    max-height: 100%;
  }
}

@media (min-width: 64em) {
  .fourth .grid .card img {
    max-width: 100%;
  }
}

@media (min-width: 75em) {
  .fourth .grid .card img {
    max-height: 24rem;
  }
}

.fourth button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 6rem auto;
  background-color: transparent;
  border: 1px solid #000000;
  padding: 1.25rem 1.5rem;
  font-family: "playfair display";
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}

.fourth hr {
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  width: 80vw;
  height: 0.5px;
}

.fifth__info {
  padding: 0 4rem 4rem;
}

@media (min-width: 75em) {
  .fifth__info {
    padding: 0 20rem 4rem;
  }
}

.fifth__info h3 {
  font-family: "playfair display";
  text-align: center;
  color: #000000;
}

@media (min-width: 75em) {
  .fifth__info h3 {
    line-height: 1.55;
  }
}

.fifth__info p {
  font-family: "Montserrat";
  margin-top: 2rem;
  text-align: center;
  font-weight: 500;
  font-style: italic;
  font-size: calc(1rem + 0.2vw);
  color: rgba(0, 0, 0, 0.45);
}

@media (min-width: 75em) {
  .fifth__info p {
    font-size: 1.125rem;
  }
}

.sixth {
  margin-bottom: 4rem;
}

.sixth__info {
  padding: 0 1rem;
}

@media (min-width: 40em) {
  .sixth__info {
    padding: 0 2rem;
  }
}

@media (min-width: 75em) {
  .sixth__info {
    padding: 0 8rem;
  }
}

.sixth__info h1 {
  margin-bottom: 4rem;
  font-weight: 500;
  text-align: center;
  color: #000000;
  font-family: "playfair display";
}

.sixth__image {
  background-image: url("../Assets/candles__image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 34rem;
  position: relative;
}

@media (min-width: 75em) {
  .sixth__image {
    margin: 0 16rem;
  }
}

.sixth__image .legend {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1rem 2rem 2rem;
  color: #ffffff;
  font-family: "playfair display";
  text-align: center;
}

@media (min-width: 40em) {
  .sixth__image .legend {
    padding: 1rem 2rem 2.5rem;
  }
}

.sixth__image .legend a {
  color: #8ea294;
  font-family: "Montserrat";
}

.sixth__image .legend p {
  margin-top: 1rem;
  font-family: "Montserrat";
}

.seventh {
  margin: 4rem 0;
}

@media (min-width: 40em) {
  .seventh {
    margin: 5rem 0;
  }
}

@media (min-width: 75em) {
  .seventh {
    margin: 8rem 6rem;
  }
}

.seventh h1 {
  margin-bottom: 4rem;
  text-align: center;
  color: #000000;
  font-family: "playfair display";
}

.seventh__grid {
  display: -ms-grid;
  display: grid;
  row-gap: 2rem;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  text-align: center;
}

@media (min-width: 40em) {
  .seventh__grid {
    padding: 0 2rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.seventh__grid__card {
  background-image: url("../Assets/candles__image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 20rem;
  position: relative;
}

.seventh__grid__card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.seventh__grid__card .info {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  padding: 1rem 4rem;
}

@media (min-width: 75em) {
  .seventh__grid__card .info {
    padding: 1rem 10rem;
  }
}

.seventh__grid__card .info h2 {
  font-family: "playfair display";
  font-size: 1.2rem;
  line-height: 1.5;
}

.seventh__grid__card .info a {
  margin-top: 2rem;
  color: #8ea294;
  font-family: "Montserrat";
  letter-spacing: 0.75px;
}

.seventh__grid__card .info a i {
  font-size: 1.1rem;
  margin-right: 0.75rem;
}

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.footer .grid {
  display: -ms-grid;
  display: grid;
  padding: 2.5rem 4rem 4rem;
  background-color: #000000;
  color: #ffffff;
}

@media (min-width: 40em) {
  .footer .grid {
    padding: 3.5rem 4rem 5rem;
  }
}

@media (min-width: 75em) {
  .footer .grid {
    padding: 4.5rem 10vw 6rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.footer .grid form {
  width: 100%;
}

@media (min-width: 75em) {
  .footer .grid form {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.footer .grid form .form-control:active,
.footer .grid form .form-control:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-bottom: 1px solid #ffffff;
}

.footer .grid form input,
.footer .grid form textarea {
  margin-top: 1.5rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 0;
  font-family: "Montserrat";
  color: #ffffff;
  width: 100%;
}

@media (min-width: 40em) {
  .footer .grid form input,
  .footer .grid form textarea {
    margin-top: 2.5rem;
  }
}

.footer .grid form input::-webkit-input-placeholder,
.footer .grid form textarea::-webkit-input-placeholder {
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
}

.footer .grid form input:-ms-input-placeholder,
.footer .grid form textarea:-ms-input-placeholder {
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
}

.footer .grid form input::-ms-input-placeholder,
.footer .grid form textarea::-ms-input-placeholder {
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
}

.footer .grid form input::placeholder,
.footer .grid form textarea::placeholder {
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
}

.footer .grid form textarea {
  width: 100%;
}

.footer .grid form .submit__btn {
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  padding: 1rem 0;
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Montserrat";
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer .grid form .submit__btn:hover {
  background-color: #8ea294;
  color: #ffffff;
}

.footer .grid hr {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  width: 60vw;
  height: 1px;
  margin: 4rem auto;
}

.footer .grid .info {
  text-align: center;
}

@media (min-width: 75em) {
  .footer .grid .info {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

.footer .grid .info h1 {
  font-family: "playfair display";
}

@media (min-width: 75em) {
  .footer .grid .info h1 {
    justify-items: center;
  }
}

.footer .grid .info h5 {
  margin: 2rem 0;
  font-family: "playfair display";
}

.footer .grid .info a {
  font-family: "Montserrat";
  color: #ffffff;
}

.footer .grid .info .socials {
  margin: 2rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .grid .info .socials i {
  cursor: pointer;
}

.footer .grid .info .socials .fa-twitter {
  margin: 0 1rem;
}

.footer footer {
  text-align: center;
  padding: 1.5rem 2rem;
  font-family: "Montserrat";
  font-weight: 500;
}

.footer footer p {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1rem;
  color: #000000;
  margin: 0;
  line-height: 1.5;
}

@media (min-width: 40em) {
  .footer footer p {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: end;
    white-space: nowrap;
  }
}

@media (min-width: 75em) {
  .footer footer p {
    justify-items: center;
  }
}

.event {
  padding: 8rem 0 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (min-width: 64em) {
  .event {
    padding: 8rem 12rem 6rem;
  }
}

.event__info {
  padding: 0 4rem;
}

@media (min-width: 40em) {
  .event__info {
    padding: 0 2rem;
  }
}

@media (min-width: 75em) {
  .event__info {
    padding: 2rem 2rem;
  }
}

.event__info h1 {
  font-family: "playfair display";
  white-space: nowrap;
}

@media (min-width: 75em) {
  .event__info h1 {
    font-size: 3.125rem;
  }
}

.event__info h3 {
  margin: 1rem 0;
  font-size: 1rem;
  font-style: italic;
  font-family: "playfair display";
  line-height: 1.6;
}

@media (min-width: 120em) {
  .event__info h3 {
    font-size: 1.2rem;
  }
}

@media (min-width: 75em) {
  .event__info h3 {
    margin: 1.5rem 0 1.5rem;
    font-size: 1.2rem;
  }
}

.event__info p {
  font-family: "Montserrat";
  line-height: 1.7;
}

@media (min-width: 75em) {
  .event__info p {
    line-height: 2;
    font-size: 1.0625rem;
    margin: 0;
  }
}

@media (min-width: 120em) {
  .event__info p {
    font-size: 1.125rem;
  }
}

.event img {
  max-width: 100%;
  padding: 2rem;
}

@media (min-width: 40em) {
  .event img {
    padding: 2rem 6rem;
  }
}

@media (min-width: 75em) {
  .event img {
    padding: 0 2rem;
    max-height: 30rem;
  }
}

.description {
  padding: 0 2rem 4rem;
}

@media (min-width: 40em) {
  .description {
    padding: 0 6rem 4rem;
  }
}

@media (min-width: 75em) {
  .description {
    padding: 0 14vw 4rem;
  }
}

.description h2 {
  font-family: "playfair display";
}

@media (min-width: 75em) {
  .description h2 {
    font-size: 3.125rem;
  }
}

.description h6 {
  margin-top: 1rem;
  font-family: "playfair display";
  line-height: 1.4;
}

.description__details {
  padding: 2rem 0;
}

.description__details h2 {
  margin: 1rem 0;
  font-family: "playfair display";
  line-height: 1.6;
}

@media (min-width: 75em) {
  .description__details h2 {
    font-size: 3.125rem;
    margin: 1.5rem 0;
  }
}

.description__details p {
  font-family: "Montserrat";
  line-height: 1.7;
}

@media (min-width: 75em) {
  .description__details p {
    line-height: 2;
    font-size: 1.0625rem;
  }
}

@media (min-width: 120em) {
  .description__details p {
    font-size: 1.125rem;
  }
}

button {
  cursor: pointer;
  margin: 4vw 0 2vw;
  font-size: 1.2rem;
  font-family: "playfair display";
  letter-spacing: 2px;
  font-weight: 500;
  line-height: 1.3;
  border: none;
  color: #ffffff;
  background-color: #8ea294;
  border-radius: 2px;
  padding: 0.75rem 2rem;
}

@media (min-width: 40em) {
  button {
    margin: 2vw 0;
  }
}

@media (min-width: 120em) {
  button {
    margin: 0;
  }
}

button:hover {
  background-color: #000000;
  color: #ffffff;
}

.about {
  padding: 8rem 4rem 4rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (min-width: 64em) {
  .about {
    padding: 12rem 12rem 6rem;
  }
}

@media (min-width: 75em) {
  .about {
    padding: 12rem 24vw 6rem;
  }
}

.about h1 {
  font-family: "playfair display";
  white-space: nowrap;
}

@media (min-width: 120em) {
  .about h1 {
    font-size: 3.125rem;
  }
}

.about h5 {
  margin: 2rem 0;
  font-size: 1rem;
  font-style: italic;
  font-family: "playfair display";
  line-height: 1.6;
}

@media (min-width: 120em) {
  .about h5 {
    font-size: 1.2rem;
  }
}

@media (min-width: 75em) {
  .about h5 {
    margin: 3rem 0;
    font-size: 1.2rem;
  }
}

.about p {
  font-family: "Montserrat";
  line-height: 1.7;
}

@media (min-width: 75em) {
  .about p {
    line-height: 2;
    font-size: 1.0625rem;
  }
}

@media (min-width: 120em) {
  .about p {
    font-size: 1.125rem;
  }
}
/*# sourceMappingURL=style.css.map */