.about {
  padding: 8rem 4rem 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @include breakpoint-up(large) {
    padding: 12rem 12rem 6rem;
  }

  @include breakpoint-up(xLarge) {
    padding: 12rem 24vw 6rem;
  }

  h1 {
    font-family: "playfair display";
    white-space: nowrap;

    @include breakpoint-up(xxLarge) {
      font-size: $xLargeSize;
    }
  }

  h5 {
    margin: 2rem 0;
    font-size: 1rem;
    font-style: italic;
    font-family: "playfair display";
    line-height: 1.6;

    @include breakpoint-up(xxLarge) {
      font-size: $largeSize;
    }

    @include breakpoint-up(xLarge) {
      margin: 3rem 0;
      font-size: $largeSize;
    }
  }

  p {
    font-family: "Montserrat";
    line-height: 1.7;

    @include breakpoint-up(xLarge) {
      line-height: 2;
      font-size: $semiSize;
    }

    @include breakpoint-up(xxLarge) {
      font-size: $mediumSize;
    }
  }
}
