.event {
  padding: 8rem 0 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @include breakpoint-up(large) {
    padding: 8rem 12rem 6rem;
  }

  &__info {
    padding: 0 4rem;

    @include breakpoint-up(medium) {
      padding: 0 2rem;
    }

    @include breakpoint-up(xLarge) {
      padding: 2rem 2rem;
    }

    h1 {
      font-family: "playfair display";
      white-space: nowrap;

      @include breakpoint-up(xLarge) {
        font-size: $xLargeSize;
      }
    }

    h3 {
      margin: 1rem 0;
      font-size: 1rem;
      font-style: italic;
      font-family: "playfair display";
      line-height: 1.6;

      @include breakpoint-up(xxLarge) {
        font-size: $largeSize;
      }

      @include breakpoint-up(xLarge) {
        margin: 1.5rem 0 1.5rem;
        font-size: $largeSize;
      }
    }

    p {
      font-family: "Montserrat";
      line-height: 1.7;

      @include breakpoint-up(xLarge) {
        line-height: 2;
        font-size: $semiSize;
        margin: 0;
      }

      @include breakpoint-up(xxLarge) {
        font-size: $mediumSize;
      }
    }
  }

  img {
    max-width: 100%;
    padding: 2rem;

    @include breakpoint-up(medium) {
      padding: 2rem 6rem;
    }

    @include breakpoint-up(xLarge) {
      padding: 0 2rem;
      max-height: 30rem;
    }
  }
}

.description {
  padding: 0 2rem 4rem;

  @include breakpoint-up(medium) {
    padding: 0 6rem 4rem;
  }

  @include breakpoint-up(xLarge) {
    padding: 0 14vw 4rem;
  }

  h2 {
    font-family: "playfair display";

    @include breakpoint-up(xLarge) {
      font-size: $xLargeSize;
    }
  }

  h6 {
    margin-top: 1rem;
    font-family: "playfair display";
    line-height: 1.4;
  }

  &__details {
    padding: 2rem 0;

    h2 {
      margin: 1rem 0;
      font-family: "playfair display";
      line-height: 1.6;

      @include breakpoint-up(xLarge) {
        font-size: $xLargeSize;
        margin: 1.5rem 0;
      }
    }

    p {
      font-family: "Montserrat";
      line-height: 1.7;

      @include breakpoint-up(xLarge) {
        line-height: 2;
        font-size: $semiSize;
      }

      @include breakpoint-up(xxLarge) {
        font-size: $mediumSize;
      }
    }
  }
}

button {
  cursor: pointer;
  margin: 4vw 0 2vw;
  font-size: $largeSize;
  font-family: "playfair display";
  letter-spacing: 2px;
  font-weight: 500;
  line-height: 1.3;
  border: none;
  color: $white;
  background-color: $green;
  border-radius: 2px;
  padding: 0.75rem 2rem;

  @include breakpoint-up(medium) {
    margin: 2vw 0;
  }

  @include breakpoint-up(xxLarge) {
    margin: 0;
  }

  &:hover {
    background-color: $black;
    color: $white;
  }
}
