.footer {
  .grid {
    display: grid;
    padding: 2.5rem 4rem 4rem;
    background-color: $black;
    color: $white;

    @include breakpoint-up(medium) {
      padding: 3.5rem 4rem 5rem;
    }

    @include breakpoint-up(xLarge) {
      padding: 4.5rem 10vw 6rem;
      grid-template-columns: repeat(2, 1fr);
    }

    form {
      width: 100%;

      @include breakpoint-up(xLarge) {
        order: 2;
      }

      .form-control:active,
      .form-control:focus {
        outline: none !important;
        box-shadow: none !important;
        border-bottom: 1px solid $white;
      }

      input,
      textarea {
        margin-top: 1.5rem;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $invisibleWhite;
        border-radius: 0;
        font-family: "Montserrat";
        color: $white;
        width: 100%;

        @include breakpoint-up(medium) {
          margin-top: 2.5rem;
        }

        &::placeholder {
          color: $white;
          font-weight: 400;
          font-family: "Montserrat";
        }
      }

      textarea {
        width: 100%;
      }

      .submit__btn {
        width: 100%;
        background-color: $white;
        color: $black;
        padding: 1rem 0;
        border: none;
        font-size: $largeSize;
        font-weight: 500;
        font-family: "Montserrat";
        transition: all 0.4s ease;

        &:hover {
          background-color: $green;
          color: $white;
        }
      }
    }

    hr {
      background-color: rgba(255, 255, 255, 0.2);
      border: none;
      width: 60vw;
      height: 1px;
      margin: 4rem auto;
    }

    .info {
      text-align: center;

      @include breakpoint-up(xLarge) {
        align-self: center;
        justify-self: start;
      }

      h1 {
        font-family: "playfair display";

        @include breakpoint-up(xLarge) {
          justify-items: center;
        }
      }

      h5 {
        margin: 2rem 0;
        font-family: "playfair display";
      }

      a {
        font-family: "Montserrat";
        color: $white;
      }

      .socials {
        margin: 2rem 0 0;
        display: flex;
        justify-content: center;

        i {
          cursor: pointer;
        }

        .fa-twitter {
          margin: 0 1rem;
        }
      }
    }
  }

  footer {
    text-align: center;
    padding: 1.5rem 2rem;
    font-family: "Montserrat";
    font-weight: 500;

    p {
      display: grid;
      align-items: center;
      row-gap: 1rem;
      color: $black;
      margin: 0;
      line-height: 1.5;

      @include breakpoint-up(medium) {
        grid-template-columns: repeat(2, 1fr);
        justify-items: end;
        white-space: nowrap;
      }

      @include breakpoint-up(xLarge) {
        justify-items: center;
      }
    }
  }
}
