nav {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 0.75rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  font-family: "Montserrat";
  transition: all 0.4s ease;
  box-shadow: 0px 4px 4px rgba($color: #888888, $alpha: 0.05);

  .nav__items__desktop {
    display: flex;

    .nav__links {
      margin: 1rem 1.5rem;
      text-decoration: none;
      color: $black;
      font-weight: 400;
      letter-spacing: 1px;
      font-family: "playfair display";
      font-size: $mediumSize;
      position: relative;

      &:hover::before {
        opacity: 1;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -30%;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: $green;
        opacity: 0;
        transition: all 400ms ease;
      }
    }
  }

  .hamburger {
    width: 3rem;
    height: 18px;
    position: relative;

    div {
      position: absolute;
      top: 0;
      right: 0;
      height: 1px;
      background-color: $black;
      transition: top 0.2s ease-in-out 0.4s, transform 0.4s ease-in-out,
        opacity 0.2s ease-in-out 0.2s, left 0.2s ease-in-out,
        width 0.2s ease-in-out -0.2s;

      &:nth-child(1) {
        top: 0;
        width: 26px;
      }

      &:nth-child(2) {
        top: 50%;
        width: 26px;
      }

      &:nth-child(3) {
        top: 100%;
        width: 26px;
      }
    }
    &.cross {
      div {
        transition: all 0.2s ease-in-out, transform 0.4s ease-in-out 0.2s,
          opacity 0.2s ease-in-out 0.2s, width 0.6s ease-in-out -0.2s;

        &:nth-child(1) {
          top: 50%;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          top: 50%;
          opacity: 0;
        }
        &:nth-child(3) {
          top: 50%;
          transform: rotate(-45deg);
        }
      }
    }
  }

  .nav__items {
    height: 100vh;
    width: 100vw;
    padding: 1rem 2rem;
    background-color: $white;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: -1;
    transition: all 0.5s ease-in-out;

    @include breakpoint-up(medium) {
      padding: 1rem 4rem;
    }

    &.opened {
      right: 0%;
    }

    &__titles {
      margin: 6rem 0 0 0;
      h3 {
        margin-bottom: 1.5rem;

        .nav__links {
          text-decoration: none;
          color: $black;
          font-weight: 400;
          letter-spacing: 1px;
          font-family: "playfair display";
          font-size: $xLargeSizePhone;
        }
      }
    }

    .socials {
      margin-top: 4.375rem;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;

      a {
        color: $black;
        font-family: "Montserrat";
        font-weight: 400;
        color: $green;
      }
    }

    .desc {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
      background-color: $green;
      padding: 1rem 2rem;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: fit-content;
        margin-right: 1.5rem;

        .path {
          fill: none;
          stroke: $white;
          stroke-width: 1.5px;
          stroke-miterlimit: 10;
        }
      }

      p {
        font-size: $smallSize;
        letter-spacing: 0.1em;
        color: $white;
        text-transform: uppercase;
        margin: 0;
        font-family: "Montserrat";
      }
    }
  }

  .logo__quote {
    display: flex;
    align-items: center;
    img {
      max-width: 3rem;
      margin-right: 2rem;
    }

    a {
      color: $black;
      font-weight: 500;
    }
  }

  button {
    background-color: $white;
    color: $black;
    border: none;
    font-weight: 500;
    border-radius: 2px;
    padding: 0.5rem 1rem;

    i {
      font-weight: 100;
    }
  }
}
