.landing {
  padding-top: 4rem;

  &__grid {
    height: 100%;
    display: grid;
    background-color: $black;

    // @include breakpoint-up(medium) {
    //   grid-template-columns: repeat(2, 50vw);
    //   grid-template-rows: 100vh;
    // }

    @include breakpoint-up(xLarge) {
      grid-template-columns: repeat(2, 50vw);
      grid-template-rows: 100vh;
    }

    &__content {
      padding: 14vw 10vw;

      @include breakpoint-up(medium) {
        height: 100%;
        padding: 10vw 6vw;
        align-self: center;
        // order: 2;
      }

      @include breakpoint-up(xLarge) {
        height: 100%;
        padding: 10vw;
        order: 2;
      }

      h1 {
        font-size: calc(2.5rem + 1vw);
        font-family: "playfair display";
        letter-spacing: 2px;
        font-weight: 400;
        color: $white;

        @include breakpoint-up(medium) {
          font-size: 3rem;
        }

        @include breakpoint-up(xLarge) {
          font-size: $xLargeSizeDesktop;
        }
      }

      p {
        margin: 1.75rem 0;
        font-size: $mediumSize;
        font-style: italic;
        font-family: "Montserrat";
        color: $white;
        letter-spacing: 1px;

        @include breakpoint-up(medium) {
          font-size: $regularSize;
        }
      }

      button {
        margin: 0.75rem 0 0 0;
        padding: 0.75rem 1rem;
        border: 0.5px solid $invisibleWhite;
        border-radius: 2px;
        background-color: transparent;
        color: $white;
        font-weight: 400;
        font-family: "Montserrat";
        font-size: $regularSize;
      }
    }

    &__image {
      height: 50vh;
      background-image: url("../Assets/landing__image.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      // @include breakpoint-up(medium) {
      //   height: 100%;
      // }

      @include breakpoint-up(xLarge) {
        height: 100%;
      }
    }
  }
}

.second {
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;

  &__info {
    padding: 4rem 2rem;

    @include breakpoint-up(medium) {
      padding: 5rem;
    }

    @include breakpoint-up(xLarge) {
      padding: 8rem 20vw;
    }

    h1,
    h5,
    p {
      text-align: center;
    }

    h1 {
      font-family: "playfair display";
    }

    h5 {
      margin: 2rem 0;
      font-size: 1rem;
      font-style: italic;
      font-family: "playfair display";

      @include breakpoint-up(xLarge) {
        margin: 3rem 0;
      }
    }

    p {
      font-family: "Montserrat";
      line-height: 1.425;

      @include breakpoint-up(xLarge) {
        line-height: 2;
      }
    }
  }
}

.third {
  padding: 2rem 0 4rem;
  background-color: $black;

  @include breakpoint-up(medium) {
    padding: 2rem 0 5rem;
  }

  @include breakpoint-up(xLarge) {
    padding: 6rem 4rem;
  }

  &__info {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
      padding: 3rem 4rem 4rem;
    }

    h1,
    h5 {
      text-align: center;
      color: $white;
      font-family: "playfair display";
    }

    h5 {
      margin: 2rem 0;
      font-size: 1rem;
      font-style: italic;
      line-height: 1.6;
      font-family: "Montserrat";
    }
  }

  &__grid {
    padding: 1rem 2rem;
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
      padding: 1rem 2rem;
    }

    @include breakpoint-up(xLarge) {
      grid-template-columns: repeat(3, 1fr);
    }

    .image__card {
      position: relative;

      // &.one {
      //   // background-image: url("../Assets/Help/homeless_outreach.jpg");
      //   background-position: center;
      //   background-repeat: no-repeat;
      //   background-size: cover;
      // }

      // &.two {
      //   // background-image: url("../Assets/Help/food_donation.jpg");
      //   background-position: center;
      //   background-repeat: no-repeat;
      //   background-size: cover;
      // }

      // &.three {
      //   // background-image: url("../Assets/Help/health_clinic.jpg");
      //   background-position: center;
      //   background-repeat: no-repeat;
      //   background-size: cover;
      // }

      // .overlay {
      //   position: absolute;
      //   z-index: -1;
      //   bottom: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      //   background: linear-gradient(
      //     to bottom,
      //     rgba(0, 0, 0, 0),
      //     rgba(0, 0, 0, 1) 85%
      //   );
      // }

      img {
        max-width: 100%;
      }

      @include breakpoint-up(xLarge) {
        min-height: 26rem;
      }

      .legend {
        // position: relative;
        // height: 100%;
        justify-content: flex-end;
        padding: 1.5rem 2.5rem 1.5rem 0;

        h3 {
          color: $white;
          font-size: $smallSize;
        }

        a {
          margin-top: 0.5rem;
          font-size: $smallSize;
          color: $green;
        }
      }
    }
  }
}

.fourth {
  margin: 6rem 0 10rem;

  h1 {
    margin-bottom: 4rem;
    text-align: center;
    color: $black;
    font-family: "playfair display";
  }

  @include breakpoint-up(xLarge) {
    padding: 4rem 4rem;
  }

  @include breakpoint-up(xLarge) {
    padding: 4rem 4rem 0;
  }

  .grid {
    position: relative;
    margin: 0 auto;
    width: 100%;

    .previous {
      margin: 0 0 0 4vw;
      left: -8%;
      border: none;

      @include breakpoint-down(small) {
        display: none;
      }
    }

    .next {
      margin: 0 0 0 4vw;
      right: -2.5%;
      border: none;

      @include breakpoint-down(small) {
        display: none;
      }

      svg {
        fill: $white;
      }
    }

    .flickity-page-dots {
      bottom: -50px;

      .dot.is-selected {
        background: $green;
      }
    }

    .card {
      position: relative;
      width: 75vw;
      margin-right: 4vw;

      img {
        max-width: 100%;

        @include breakpoint-up(medium) {
          max-height: 20rem;
        }

        @include breakpoint-up(xLarge) {
          max-height: 24rem;
        }
      }
    }
  }

  button {
    display: flex;
    justify-content: center;
    margin: 6rem auto;
    background-color: transparent;
    border: 1px solid $black;
    padding: 1.25rem 1.5rem;
    font-family: "playfair display";
    font-size: $mediumSize;
    letter-spacing: 0.5px;
  }

  hr {
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    width: 80vw;
    height: 0.5px;
  }
}

.fifth {
  &__info {
    padding: 0 4rem 4rem;

    @include breakpoint-up(xLarge) {
      padding: 0 20rem 4rem;
    }

    h3 {
      font-family: "playfair display";
      text-align: center;
      color: $black;

      @include breakpoint-up(xLarge) {
        line-height: 1.55;
      }
    }

    p {
      font-family: "Montserrat";
      margin-top: 2rem;
      text-align: center;
      font-weight: 500;
      font-style: italic;
      font-size: calc(1rem + 0.2vw);
      color: $invisibleBlack;

      @include breakpoint-up(xLarge) {
        font-size: $mediumSize;
      }
    }
  }
}

.sixth {
  margin-bottom: 4rem;

  &__info {
    padding: 0 1rem;

    @include breakpoint-up(medium) {
      padding: 0 2rem;
    }

    @include breakpoint-up(xLarge) {
      padding: 0 8rem;
    }

    h1 {
      margin-bottom: 4rem;
      font-weight: 500;
      text-align: center;
      color: $black;
      font-family: "playfair display";
    }
  }

  &__image {
    background-image: url("../Assets/candles__image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 34rem;
    position: relative;

    .legend {
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1)
      );
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 1rem 2rem;
      color: $white;
      font-family: "playfair display";
      text-align: center;

      @include breakpoint-up(medium) {
        padding: 1rem 2rem 2.5rem;
      }

      a {
        color: $green;
        font-family: "Montserrat";
      }

      p {
        margin-top: 1rem;
        font-family: "Montserrat";
      }
    }
  }
}

.seventh {
  margin: 4rem 0;

  @include breakpoint-up(medium) {
    margin: 5rem 0;
  }

  @include breakpoint-up(xLarge) {
    margin: 8rem 6rem;
  }

  h1 {
    margin-bottom: 4rem;
    text-align: center;
    color: $black;
    font-family: "playfair display";
  }

  &__grid {
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
    text-align: center;

    @include breakpoint-up(medium) {
      padding: 0 2rem;
      grid-template-columns: repeat(2, 1fr);
    }

    &__card {
      background-image: url("../Assets/candles__image.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 20rem;
      position: relative;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
      }

      .info {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $white;
        padding: 1rem 4rem;

        @include breakpoint-up(xLarge) {
          padding: 1rem 10rem;
        }

        h2 {
          font-family: "playfair display";
          font-size: $largeSize;
          line-height: 1.5;
        }

        a {
          margin-top: 2rem;
          color: $green;
          font-family: "Montserrat";
          letter-spacing: 0.75px;

          i {
            font-size: 1.1rem;
            margin-right: 0.75rem;
          }
        }
      }
    }
  }
}

.eight {
  background-color: $black;
  color: $white;

  .grid {
    display: grid;
    padding: 2.5rem 4rem 4rem;

    @include breakpoint-up(medium) {
      padding: 3.5rem 4rem 5rem;
    }

    @include breakpoint-up(xLarge) {
      padding: 4.5rem 10vw 6rem;
      grid-template-columns: repeat(2, 1fr);
    }

    form {
      width: 100%;

      @include breakpoint-up(xLarge) {
        order: 2;
      }

      input,
      textarea {
        margin-top: 1.5rem;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $white;
        border-radius: 0;
        font-family: "Montserrat";

        @include breakpoint-up(medium) {
          margin-top: 2.5rem;
        }

        &::placeholder {
          color: $white;
          font-weight: 400;
          font-family: "Montserrat";
        }
      }

      textarea {
        width: 100%;
      }

      .submit__btn {
        width: 100%;
        background-color: $white;
        color: $black;
        padding: 1rem 0;
        border: none;
        font-size: $largeSize;
        font-weight: 500;
        font-family: "Montserrat";
      }
    }

    hr {
      background-color: rgba(255, 255, 255, 0.2);
      border: none;
      width: 60vw;
      height: 1px;
      margin: 4rem auto;
    }

    .info {
      text-align: center;

      @include breakpoint-up(xLarge) {
        align-self: center;
        justify-self: start;
      }

      h1 {
        font-family: "playfair display";

        @include breakpoint-up(xLarge) {
          justify-items: center;
        }
      }

      h5 {
        margin: 2rem 0;
        font-family: "playfair display";
      }

      a {
        font-family: "Montserrat";
        color: $white;
      }

      .socials {
        margin: 2rem 0 0;
        display: flex;
        justify-content: center;

        .fa-twitter {
          margin: 0 1rem;
        }
      }
    }
  }
}

footer {
  text-align: center;
  padding: 1.5rem 2rem;
  font-family: "Montserrat";
  font-weight: 500;

  p {
    display: grid;
    align-items: center;
    row-gap: 1rem;
    color: $black;
    margin: 0;
    line-height: 1.5;

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
      justify-items: end;
      white-space: nowrap;
    }

    @include breakpoint-up(xLarge) {
      justify-items: center;
    }
  }
}

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
