.landing {
  height: 100vh;
  padding-top: 4rem;
  position: relative;
  display: grid;
  grid-template-rows: 35vh 60vh;
  // grid-template-columns: repeat(2, 1fr);

  @include breakpoint-up(medium) {
    grid-template-rows: 50vh 50vh;
  }

  @include breakpoint-up(xLarge) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100vh 100vh;
  }

  &__image {
    position: relative;
    z-index: 5;
    width: 100%;
    height: 35vh;
    background-image: url("../Assets/landing__image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include breakpoint-up(medium) {
      height: 50vh;
    }

    @include breakpoint-up(xLarge) {
      height: 100vh;
    }
  }

  &__content {
    background-color: $black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &__info {
      padding: 0 10vw;
      text-align: center;
      font-size: 1.75rem;
      font-family: "playfair display";
      letter-spacing: 2px;
      font-weight: 400;
      line-height: 1.5;
      color: $white;

      @include breakpoint-up(medium) {
        font-size: $xLargeSize;
        line-height: 1.6;
      }

      @include breakpoint-up(large) {
        font-size: $xxLargeSize2;
      }

      @include breakpoint-up(xLarge) {
        padding: 0;
        font-size: $xLargeSize;
      }

      @include breakpoint-up(xxLarge) {
        // padding: 0 10vw 1rem;
        font-size: $xxLargeSize2;
      }
    }

    hr {
      background-color: $white;
      width: 10rem;
      border: none;
      height: 1px;
      margin: 0 auto 8vw;

      @include breakpoint-up(medium) {
        margin: 2vw auto 2vw;
      }
    }

    p {
      text-align: center;
      padding: 2vw 10vw;
      font-size: $semiSize;
      font-family: "playfair display";
      letter-spacing: 2px;
      font-weight: 400;
      line-height: 1.3;
      color: $white;

      @include breakpoint-up(medium) {
        padding: 1vw 6vw 2vw;
      }

      @include breakpoint-up(xLarge) {
        margin: 0 auto;
        font-size: $bigSize;
      }
    }

    .center__button {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 999;

      a {
        cursor: pointer;
        margin: 4vw 0;
        font-size: $semiSize;
        font-family: "playfair display";
        letter-spacing: 2px;
        font-weight: 600;
        line-height: 1.3;
        border: 1px solid $white;
        background-color: transparent;
        border-radius: 2px;
        padding: 0.75rem 2rem;
        color: $white;

        &:hover {
          background-color: $white;
          color: $black;
        }

        @include breakpoint-up(medium) {
          margin: 2vw 0;
        }

        @include breakpoint-up(xxLarge) {
          margin: 0;
        }
      }
    }

    &__circle,
    &__circle2,
    &__circle3,
    &__circle4 {
      position: absolute;
      border-radius: 50%;
      z-index: 1;
    }

    &__circle {
      left: -5%;
      bottom: 10%;
      background-color: rgba(142, 162, 148, 0.02);
      width: 30vw;
      height: 30vw;
      animation: bubble-movement 6s ease infinite;

      @include breakpoint-up(xLarge) {
        animation: none;
        width: 20vw;
        height: 20vw;
        background-color: rgba(142, 162, 148, 0.06);
      }
    }

    &__circle2 {
      right: -15%;
      bottom: 30%;
      background-color: rgba(142, 162, 148, 0.04);
      width: 36vw;
      height: 36vw;
      animation: bubble-movement2 12s ease infinite 3s;

      @include breakpoint-up(medium) {
        right: -5%;
        bottom: 5%;
        animation: bubble-movement2-tablet 12s ease infinite 3s;
      }

      @include breakpoint-up(xLarge) {
        right: -15%;
        bottom: 30%;
        animation: none;
        width: 15vw;
        height: 15vw;
        background-color: rgba(142, 162, 148, 0.1);
      }
    }

    &__circle3 {
      right: 25%;
      top: 2%;
      background-color: rgba(142, 162, 148, 0.05);
      width: 40vw;
      height: 40vw;
      animation: bubble-movement3 6s ease infinite 1.5s;

      @include breakpoint-up(medium) {
        width: 20vw;
        height: 20vw;
      }

      @include breakpoint-up(xLarge) {
        animation: none;
        width: 20vw;
        height: 20vw;
        background-color: rgba(142, 162, 148, 0.08);
      }
    }
  }

  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;

  @include breakpoint-up(medium) {
    padding-top: 0;
  }

  @include breakpoint-up(xLarge) {
    padding-top: 6rem;
  }

  @include breakpoint-up(xxLarge) {
    padding-top: 2rem;
  }

  // &__info {
  //   padding: 0 10vw 16vw;
  //   text-align: center;
  //   font-size: $bigSize;
  //   font-family: "playfair display";
  //   letter-spacing: 2px;
  //   font-weight: 400;
  //   line-height: 1.3;
  //   color: #333;

  //   @include breakpoint-up(medium) {
  //     font-size: $xLargeSizeTablet;
  //     line-height: 1.3;
  //     padding: 10vw 10vw 6vw;
  //   }

  //   @include breakpoint-up(large) {
  //     font-size: $xLargeSizeLargeScreen;
  //     line-height: 1.3;
  //   }

  //   @include breakpoint-up(xLarge) {
  //     padding: 0;
  //     font-size: $xxLargeSize2;
  //   }

  //   @include breakpoint-up(xxLarge) {
  //     padding: 0 10vw 1rem;
  //     font-size: $xLargeSizeTablet;
  //   }
  // }

  // hr {
  //   background-color: $black;
  //   width: 10rem;
  //   border: none;
  //   height: 1px;
  //   margin: 0 auto 16vw;

  //   @include breakpoint-up(medium) {
  //     margin: 0 auto 6vw;
  //   }

  //   @include breakpoint-up(xLarge) {
  //     margin: 2rem auto 1rem;
  //   }
  // }

  // p {
  //   padding: 2vw 10vw;
  //   font-size: $largeSize;
  //   font-family: "playfair display";
  //   letter-spacing: 2px;
  //   font-weight: 500;
  //   line-height: 1.3;

  //   @include breakpoint-up(medium) {
  //     padding: 2vw 6vw;
  //   }

  //   @include breakpoint-up(xLarge) {
  //     margin: 0 auto 0;
  //     font-size: $bigSize;
  //   }
  // }

  // .center__button {
  //   width: 100%;
  //   display: flex;
  //   justify-content: center;
  //   position: relative;
  //   z-index: 999;

  //   a {
  //     cursor: pointer;
  //     margin: 4vw 0;
  //     font-size: $largeSize;
  //     font-family: "playfair display";
  //     letter-spacing: 2px;
  //     font-weight: 500;
  //     line-height: 1.3;
  //     border: 1px solid $black;
  //     background-color: transparent;
  //     border-radius: 2px;
  //     padding: 0.75rem 2rem;
  //     color: $black;

  //     &:hover {
  //       background-color: $black;
  //       color: $white;
  //     }

  //     @include breakpoint-up(medium) {
  //       margin: 2vw 0;
  //     }

  //     @include breakpoint-up(xxLarge) {
  //       margin: 0;
  //     }
  //   }
  // }

  // &__circle,
  // &__circle2,
  // &__circle3,
  // &__circle4 {
  //   position: absolute;
  //   border-radius: 50%;
  // }

  // &__circle {
  //   left: -5%;
  //   bottom: 10%;
  //   background-color: rgba(142, 162, 148, 0.1);
  //   width: 30vw;
  //   height: 30vw;
  //   animation: bubble-movement 6s ease infinite;

  //   @include breakpoint-up(xLarge) {
  //     animation: none;
  //     width: 15vw;
  //     height: 15vw;
  //   }
  // }

  // &__circle2 {
  //   right: -15%;
  //   bottom: 30%;
  //   background-color: rgba(142, 162, 148, 0.1);
  //   width: 60vw;
  //   height: 60vw;
  //   animation: bubble-movement2 6s ease infinite 3s;

  //   @include breakpoint-up(medium) {
  //     right: -5%;
  //     bottom: 5%;
  //     animation: bubble-movement2-tablet 6s ease infinite 3s;
  //   }

  //   @include breakpoint-up(xLarge) {
  //     right: -15%;
  //     bottom: 30%;
  //     animation: none;
  //     width: 40vw;
  //     height: 40vw;
  //   }
  // }

  // &__circle3 {
  //   right: 25%;
  //   top: 30%;
  //   background-color: rgba(142, 162, 148, 0.05);
  //   width: 40vw;
  //   height: 40vw;
  //   animation: bubble-movement3 6s ease infinite 1.5s;

  //   @include breakpoint-up(xLarge) {
  //     animation: none;
  //   }

  //   @include breakpoint-up(xLarge) {
  //     animation: none;
  //     width: 30vw;
  //     height: 30vw;
  //   }
  // }
}

.second {
  position: relative;
  z-index: 1;
  height: 100vh;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;

  &__info {
    padding: 4rem 2rem;

    @include breakpoint-up(medium) {
      padding: 5rem;
    }

    @include breakpoint-up(xLarge) {
      padding: 8rem 30vw;
    }

    h1,
    h5,
    p {
      text-align: center;
    }

    h1 {
      font-family: "playfair display";

      @include breakpoint-up(xxLarge) {
        font-size: $xLargeSize;
      }
    }

    h5 {
      margin: 2rem 0;
      font-size: 1rem;
      font-style: italic;
      font-family: "playfair display";

      @include breakpoint-up(xxLarge) {
        font-size: $largeSize;
      }

      @include breakpoint-up(xLarge) {
        margin: 3rem 0;
        font-size: $largeSize;
      }
    }

    p {
      font-family: "Montserrat";
      line-height: 1.7;

      @include breakpoint-up(xLarge) {
        line-height: 2;
        font-size: $semiSize;
      }

      @include breakpoint-up(xxLarge) {
        font-size: $mediumSize;
      }
    }
  }

  .circle {
    position: absolute;
    z-index: -100;
    top: 10%;
    left: 5%;
    width: 50vw;
    height: 50vw;
    background-color: rgba(243, 240, 239, 0.4);
    border-radius: 50%;

    @include breakpoint-up(medium) {
      top: 10%;
      left: -5%;
    }

    @include breakpoint-up(xLarge) {
      top: 10%;
      left: 5%;
      width: 30vw;
      height: 30vw;
    }
  }

  .circle2 {
    position: absolute;
    z-index: -100;
    bottom: -15%;
    right: -5%;
    width: 70vw;
    height: 70vw;
    background-color: rgba(243, 240, 239, 0.4);
    border-radius: 50%;

    @include breakpoint-up(xLarge) {
      bottom: -15%;
      right: -5%;
      width: 25vw;
      height: 25vw;
    }
  }
}

.third {
  position: relative;
  z-index: 2;
  padding: 2rem 0 4rem;
  background-color: $black;

  @include breakpoint-up(medium) {
    padding: 2rem 0 5rem;
  }

  @include breakpoint-up(xLarge) {
    padding: 6rem 10rem;
  }

  &__info {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
      padding: 3rem 4rem 4rem;
    }

    h1,
    h5 {
      text-align: center;
      color: $white;
      font-family: "playfair display";
    }

    h5 {
      margin: 2rem 0;
      font-size: 1rem;
      font-style: italic;
      line-height: 1.6;
      font-family: "Montserrat";
    }
  }

  &__grid {
    padding: 1rem 2rem;
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
      padding: 1rem 2rem;
    }

    @include breakpoint-up(xLarge) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2rem;
    }

    @include breakpoint-up(xxLarge) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 4rem;
      padding: 1rem 2rem 3rem;
    }

    .image__card {
      position: relative;
      width: fit-content;
      transition: all 0.5s linear;

      img {
        max-width: 100%;

        @include breakpoint-up(xLarge) {
          height: 18rem;
        }
      }

      @include breakpoint-up(xLarge) {
        min-height: auto;
      }

      .overlay {
        position: absolute;
        bottom: 0%;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: $black;
        transition: all 0.1s linear;
      }

      .legend {
        // position: relative;
        // height: 100%;
        justify-content: flex-end;
        padding: 1.5rem 2.5rem 1.5rem 0;

        h3 {
          color: $white;
          font-size: $smallSize;
        }

        a {
          margin-top: 0.5rem;
          font-size: $smallSize;
          color: $green;
        }
      }

      .legend__desktop {
        height: 26%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        bottom: -15%;
        left: 50%;
        z-index: 2;
        transform: translateX(-50%);
        opacity: 0;
        transition: all 0.1s linear;

        h3 {
          margin: 0;
          color: $white;
          text-transform: capitalize;
          font-size: $smallSize;
        }

        a {
          font-size: $smallSize;
          color: $green;
        }
      }
    }
  }
}

.fourth {
  margin: 6rem 0 10rem;

  h1 {
    margin-bottom: 4rem;
    text-align: center;
    color: $black;
    font-family: "playfair display";
  }

  @include breakpoint-up(xLarge) {
    padding: 4rem 4rem;
  }

  .grid {
    position: relative;
    margin: 0 auto;
    width: 100%;

    .previous {
      margin: 0 0 0 4vw;
      left: -8%;
      border: none;

      @include breakpoint-down(medium) {
        display: none;
      }
    }

    .flickity-button {
      border: none;

      svg {
        transition: all 400ms ease;
      }

      &:hover svg {
        fill: $green;
      }

      &:active svg {
        fill: $green;
      }
    }

    .next {
      margin: 0 0 0 4vw;
      right: -3.5%;

      @include breakpoint-down(medium) {
        display: none;
      }
    }

    .flickity-page-dots {
      bottom: -50px;

      .dot.is-selected {
        background: $green;
      }
    }

    .card {
      position: relative;
      width: 75vw;
      margin-right: 4vw;

      @include breakpoint-up(medium) {
        width: 60vw;
      }

      @include breakpoint-up(large) {
        width: 30rem;
        margin-right: 2vw;
      }

      img {
        max-width: 100%;

        @include breakpoint-up(medium) {
          max-height: 100%;
        }

        @include breakpoint-up(large) {
          max-width: 100%;
        }

        @include breakpoint-up(xLarge) {
          max-height: 24rem;
        }
      }
    }
  }

  button {
    display: flex;
    justify-content: center;
    margin: 6rem auto;
    background-color: transparent;
    border: 1px solid $black;
    padding: 1.25rem 1.5rem;
    font-family: "playfair display";
    font-size: $mediumSize;
    letter-spacing: 0.5px;
  }

  hr {
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    width: 80vw;
    height: 0.5px;
  }
}

.fifth {
  &__info {
    padding: 0 4rem 4rem;

    @include breakpoint-up(xLarge) {
      padding: 0 20rem 4rem;
    }

    h3 {
      font-family: "playfair display";
      text-align: center;
      color: $black;

      @include breakpoint-up(xLarge) {
        line-height: 1.55;
      }
    }

    p {
      font-family: "Montserrat";
      margin-top: 2rem;
      text-align: center;
      font-weight: 500;
      font-style: italic;
      font-size: calc(1rem + 0.2vw);
      color: $invisibleBlack;

      @include breakpoint-up(xLarge) {
        font-size: $mediumSize;
      }
    }
  }
}

.sixth {
  margin-bottom: 4rem;

  &__info {
    padding: 0 1rem;

    @include breakpoint-up(medium) {
      padding: 0 2rem;
    }

    @include breakpoint-up(xLarge) {
      padding: 0 8rem;
    }

    h1 {
      margin-bottom: 4rem;
      font-weight: 500;
      text-align: center;
      color: $black;
      font-family: "playfair display";
    }
  }

  &__image {
    background-image: url("../Assets/candles__image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 34rem;
    position: relative;

    @include breakpoint-up(xLarge) {
      margin: 0 16rem;
    }

    .legend {
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1)
      );
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 1rem 2rem 2rem;
      color: $white;
      font-family: "playfair display";
      text-align: center;

      @include breakpoint-up(medium) {
        padding: 1rem 2rem 2.5rem;
      }

      a {
        color: $green;
        font-family: "Montserrat";
      }

      p {
        margin-top: 1rem;
        font-family: "Montserrat";
      }
    }
  }
}

.seventh {
  margin: 4rem 0;

  @include breakpoint-up(medium) {
    margin: 5rem 0;
  }

  @include breakpoint-up(xLarge) {
    margin: 8rem 6rem;
  }

  h1 {
    margin-bottom: 4rem;
    text-align: center;
    color: $black;
    font-family: "playfair display";
  }

  &__grid {
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
    text-align: center;

    @include breakpoint-up(medium) {
      padding: 0 2rem;
      grid-template-columns: repeat(2, 1fr);
    }

    &__card {
      background-image: url("../Assets/candles__image.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 20rem;
      position: relative;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
      }

      .info {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $white;
        padding: 1rem 4rem;

        @include breakpoint-up(xLarge) {
          padding: 1rem 10rem;
        }

        h2 {
          font-family: "playfair display";
          font-size: $largeSize;
          line-height: 1.5;
        }

        a {
          margin-top: 2rem;
          color: $green;
          font-family: "Montserrat";
          letter-spacing: 0.75px;

          i {
            font-size: 1.1rem;
            margin-right: 0.75rem;
          }
        }
      }
    }
  }
}

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
