@media (min-width: 64em) {
  //
}

// 640px, 1024px, 1200px, 1400px
$breakpoint-up: (
  "medium": "40em",
  "large": "64em",
  "xLarge": "75em",
  "xxLarge": "87.5em"
);

// 639px, 1023px, 1399px
$breakpoint-down: (
  "small": "39.9375em",
  "medium": "63.9375em",
  "large": "87.43755em"
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($map: $breakpoint-up, $key: $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($map: $breakpoint-down, $key: $size)) {
    @content;
  }
}
