@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}

@font-face {
  font-family: "playfair display";
  src: url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}

$darkBlue: #13161f;
$darkYellow: #e8b45b;
$greyBlue: #323540;
$lightPurple: #9ea8cb;
$invisiblePurple: rgba(158, 168, 203, 0.25);
$invisibleDarkBlue: rgba(50, 53, 64, 0.81);
$white: #ffffff;
$invisibleWhite: rgba(255, 255, 255, 0.45);
$invisibleWhite2: rgba(255, 255, 255, 0.22);
$black: #000000;
$green: #8ea294;
$invisibleBlack: rgba(0, 0, 0, 0.45);

// font-sizes

$xSmallSize: 0.85rem;
$smallSize: 0.9375rem;
$regularSize: 1rem; // 16px
$semiSize: 1.0625rem; // 17px
$mediumSize: 1.125rem;
$largeSize: 1.2rem;
$bigSize: 1.5rem;
$xLargeSize: 3.125rem;
$xxLargeSize: 3.3rem;
$xxLargeSize2: 4rem;
$xLargeSizePhone: 1.5rem;
$xLargeSizeDesktop: 4.375rem;
$xLargeSizeTablet: 6rem;
$xLargeSizeScreen: 8rem;
$xLargeSizeLargeScreen: 10.375rem;
